<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sign Up</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Ownzones code challenge</span>
    </nav>
    <br>
    <div class="container">
        <form onSubmit="handleSubmit(); return false">
            <div class="form-group">
                <label for="username">What is your Username?</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                    placeholder="Username">
                <label for="email">What is your Email?</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                <label for="password">What is your Password?</label>
                <input type="password" class="form-control" id="password" aria-describedby="emailHelp"
                    placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">We'll never share your creds with anyone
                    else.</small>
            </div>
            <button type="submit" id="signUpButton" class="btn btn-primary">Sign Up</button>
            <small><a href="index.html">Already have an account ? Log in here!</a></small>
        </form>
    </div>

    <script>
        const handleSubmit = async () => {
            try {
                event.preventDefault();
                const body = {
                    username: event.target.username.value,
                    email: event.target.email.value,
                    password: event.target.password.value
                };
                const url = "https://g75ccxjvcb.execute-api.us-west-2.amazonaws.com/dev/register";
                const { data } = await axios.post(url, body);
                if (data.errorMessage) {
                    throw new Error(data.errorMessage);
                }
                console.log(data.AuthenticationResult);
                windows.alert('User created')
                window.location.href = "login.html";
            } catch (error) {
                window.alert(error.message);
            }
        };
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>

</html>